* {
  margin: 0;
}

/* ページ全体の背景色をかすかなグレーに */
.app {
  background-color: #fafafa;
}

/* ヘッダー（トップバー）に関する設定 */
.app__header {
  background-color: white;
  object-fit: contain; /* インスタロゴのアスペクト比がどんな場合も崩れないよう指定 */
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.app__signup {
  display: flex;
  flex-direction: column;
}