* {
  margin: 0;
}

/* ページ全体の背景色をかすかなグレーに */
.app {
  background-color: #fafafa;
}

.app__posts {
  padding: 20px;
  justify-content: center;
}

/* ヘッダー（トップバー）に関する設定 */
.app__header {
  position: sticky; /* ヘッダーがスクロールしても常に画面上部に */
  top: 0;
  z-index: 1; /* ヘッダーが画面の要素の中で常に一番前に来るように */
  background-color: white;
  object-fit: contain; /* インスタロゴのアスペクト比がどんな場合も崩れないよう指定 */
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;

}

.app__signup {
  display: flex;
  flex-direction: column;
}